version: '2.1'
services:
  flink-kafka-hbase:
    extends:
      service: flink-kafka-hbase
      file: ./Flink-Hbase-Kafka

  elasticsearch:
    extends:
      service: elasticsearch
      file: ./elasticsearch

  elasticsearch2:
    extends:
      service: elasticsearch2
      file: ./elasticsearch

  kibana:
    extends:
      service: kibana
      file: ./kibana

  kafka-manager:
    extends:
      service: kafka-manager
      file: ./kafka-manager